{% if fn('current_user_can', 'edit_posts') %}
    <a href="{{ fn('get_edit_post_link', post.ID) }}">
        <svg class="icon pencil-icon">
            <use xlink:href="#pencil-square-o"></use>
        </svg>
    </a>
{% endif %}