<div class="grid-container newsletter-teaser">
    <div class="large-3 cell">
        <img src="{{ TimberImage(post.thumbnail).src|resize(140,90) }}" alt="">
    </div>
    <div class="large-9 cell">
        <div>
            <h5 class="text-primary">{{ post.title }}</h5>
            <p class="blog-date text-primary">
                {{ post.post_date|date }}
            </p>
        </div>
        <div>
            <a href="{{ post.link }}" class="text-italic">View More >></a>
        </div>
    </div>
</div>