{% if posts.pagination.prev or posts.pagination.next %}
	<ul class="pagination text-center" role="navigation" aria-label="Pagination">
		{# PREVIOUS LINK #}
		<li class="pagination-previous {{ posts.pagination.prev ? '' : 'disabled' }}">
			{{ posts.pagination.prev ? '<a href="' ~ posts.pagination.prev.link ~ '">Previous</a>' : 'Previous' }}
		</li>

		{# PAGES LINKS #}
		{% for page in posts.pagination.pages %}
			<li {{ page.link ? '' : 'class="current"' }}>
				{% if page.link %}
					<a href="{{ page.link }}" class="pagination-link" aria-label="Page {{ page.title }}" data-page="{{ page.title }}">{{ page.title }}</a>
				{% else %}
					<span class="show-for-sr">You're on page</span> {{ page.title }}
				{% endif %}
			</li>
		{% endfor %}

		{# NEXT LINK #}
		<li class="pagination-next {{ posts.pagination.next ? '' : 'disabled' }}">
			{{ posts.pagination.next ? '<a href="' ~ posts.pagination.next.link ~ '">Next</a>' : 'Next' }}
		</li>
	</ul>
{% endif %}