<div>
    <div class="title-bar fixed hide-for-large" data-hide-for="large" data-open="offCanvas">
        <div class="float-left">
            {# small logo #}
        </div>

        <div class="float-right">
            <div class="title-bar-title text-upper">Menu</div>
            <button class="menu-icon" type="button" data-open="offCanvas"></button>
        </div>
    </div>
</div>