// ---------------------------------------
//  Lazyloading
// ---------------------------------------
// Styles to blur low quality image and fade in the High Quality over it.
.lazyload.blur-up,
.lazyloading.blur-up {
  filter: blur(10px);
  transition: filter 1s;
}

.lazyloaded.blur-up {
  filter: blur(0);
}


// ---------------------------------------
//  Intrinsic Sizes
// ---------------------------------------
.intrinsic {
  position: relative;
  height: 0;

  &.hero {
    @include intrinsic-ratio(1600, 550);
  }

  img,
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
  }
}

// ---------------------------------------
//  General SVG Icon Styles
// ---------------------------------------
svg.icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  fill: currentColor; // Applies current font color to fill.
}

// ---------------------------------------
//  Newsletters
// ---------------------------------------
.newsletter-teaser {
  margin-bottom: 1rem;
}
.newsletter-teaser h5,
.newsletter-teaser p {
  margin: 0;
}
.newsletter-teaser .blog-date {
  font-style: italic;
}

.box {
  padding: 0 1rem 1rem 1rem;
  margin: 2rem 0 0 0;
  border-top: 8px solid $secondary-color;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.quick-link::before {
  margin-right: 10px;
  float:left;
  @include css-triangle(8px, $primary-color, right)
}
.quick-link {
  color: $primary-color;
}