.upper-footer {
  margin: 2rem 0 2rem 0;
}
.lower-footer {
  background-color: $primary-color;
  margin-top: 2rem;
  color: $white;
}
.lower-footer a {
  color: $white;
}
.copyright {
  line-height: 2rem;
}
.copyright .adlit-link {
  text-align: center;
  @include breakpoint(large) {
    text-align: left;
  }
}
.copyright .logout {
  text-align: center;
  @include breakpoint(large) {
    text-align: right;
  }
}