.upper-header {
  color: $white;
  line-height: 2rem;
  text-align: center;
  @include breakpoint(large) {
    //text-align: right;
  }
}

.upper-header button::before {
  font-size: 1.2em;
}

.upper-header button:not(:first-child) {
  @include breakpoint(large) {
    padding-right: 1rem;
  }
}

.upper-header-container {
  background-color: $primary-color;
}

.upper-header button {
  color: $white;
}

.upper-header button {
  width: 24%;
  line-height: 50px;
  font-size: 1.7rem;
  @include breakpoint(large) {
    width: auto;
    line-height: inherit;
    font-size: inherit;
  }
}


.middle-header {
  text-align: center;
  padding: 1rem 0;
  @include breakpoint(large) {
    text-align: left;
  }
}

.middle-header #vector-ink-logo {
  width: 300px;
}
.middle-header svg#vector-ink-logo g {
  fill: $primary-color;
}