/**
 * Off canvas nav
 */
// Make off canvas nav the full height
.off-canvas {
  height: 100%;
  background-color: $primary-color;
}
.nav-main {
  background-color: $primary-color;
}
.nav-main li a {
  font-size: 1.2em;
  text-transform: uppercase;
  color: $white;
}

//.off-canvas ul ul {
//  background: $primary-color;
//  &::after {
//    position: absolute;
//    top: 0;
//    right: 0;
//    height: 100%;
//    width: 1px;
//    box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
//    content: " ";
//  }
//}
