.masonry-gallery {
  margin-bottom: 1rem;
  column-count: 2;

  @include breakpoint(medium) {
    column-count: 3;
  }

  @include breakpoint(large) {
    column-count: 4;
  }
}

.masonry-gallery-item {
  display: block;
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  //float: left; // Fallback for no css-columns support.

  img {
    transition: opacity .3s;
  }

  &:hover img {
    opacity: .8;
  }
}

.masonry-gallery-title {
  // todo: theme-color opacity
  //@include theme-color('background-color', secondary, resort);
  background-color: $primary-color;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .25rem .5rem;
  color: $white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}
