// ---------------------------------------
//  General helper classes
// ---------------------------------------
body {
  @include opensans;
}

a {
  transition: all .2s ease;
}
.text-upper {
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  padding-top: 2rem;
}

.bold {
  font-weight: 700;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}
