{% extends "base.twig" %}

{% block content %}
    <div class="grid-container">
        {#<h1 class="heading-medium text-upper">{{ post.title }}</h1>#}

        <section class="article-content">

            <h3 class="page-main-title">{{ post.title }}</h3>
            <h4 class="page-sub-title text-upper">{{ post.sub_title }}</h4>
            <div class="article-body">
                {{ post.content }}
            </div>
        </section>

        <div class="masonry-gallery">
            {% for post in posts %}
                {% set image = TimberImage(post.gallery|first) %}
                {% set thumb_image = TimberImage(post.gallery|first)|resize(280) %}

                <a href="{{ post.link }}" class="masonry-gallery-item">
                    <img src="{{ image|resize(10) }}"
                         data-src="{{ thumb_image }}"
                         class="lazyload blur-up"
                         width="{{ TimberImage(thumb_image).width }}"
                         height="{{ TimberImage(thumb_image).height }}">
                    <div class="masonry-gallery-title">
                        {{ post.title }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
