{% extends "base.twig" %}

{% block content %}

	<div class="grid-container">

	{% for post in posts %}
		{% include ["tease-"~post.post_type~".twig", "tease.twig"] %}
	{% endfor %}

	{% include 'partials/pagination.twig' %}

	</div>

{% endblock %}