{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
			{# SVG Icons #}
			<div class="hide">{{ fn('file_get_contents', fn('get_template_directory') ~ '/img/svg/svg.svg') }}</div>

			{# OFF CANVAS MENU #}
			{% include 'navigation/nav-off-canvas.twig' %}
		</div>

		<div class="off-canvas-content" data-off-canvas-content>
			{# TOP BAR #}
			{% include 'navigation/nav-top-bar.twig' %}

			<header class="header">
				<div class="middle-header grid-container">
					<a href="/">
						<svg id="vector-ink-logo" viewBox="0 0 439 111" width="100%" height="100%">

							<g fill="currentColor"><path d="M80.3 100.7h-3.2v10.1h-2.9v-10.1H71v-2.3h9.3zM93.9 111c-3.7 0-6.6-2.4-6.6-6.4s2.9-6.4 6.6-6.4c3.7 0 6.6 2.4 6.6 6.4s-2.9 6.4-6.6 6.4zm0-10.4c-2.1 0-3.6 1.5-3.6 3.9s1.6 3.9 3.6 3.9c2.1 0 3.6-1.5 3.6-3.9 0-2.3-1.5-3.9-3.6-3.9zM119.6 105.6c0 1.7-.3 3-1.2 3.9-.9.9-2.2 1.5-4 1.5-1.8 0-3.2-.5-4-1.5-.9-1-1.2-2.2-1.2-3.9v-7.2h2.9v7.2c0 .9.1 1.6.5 2.1s1 .8 1.8.8 1.4-.3 1.8-.8c.4-.5.5-1.2.5-2.1v-7.2h2.9v7.2zM138.8 110.8h-3.4l-2.6-4.8h-.9v4.8H129V98.4h4.5c1.4 0 2.5.3 3.3.9.8.6 1.4 1.6 1.4 2.8 0 2.4-1.5 3.3-2.4 3.6l3 5.1zm-4.2-9.9c-.4-.3-.8-.3-1.5-.3h-1.2v3.2h1.2c.7 0 1.1-.1 1.5-.3.4-.3.6-.6.6-1.3 0-.6-.3-1-.6-1.3zM149.9 110.8H147V98.4h2.9zM166.3 110c-.9.7-2 1-3.4 1-1.8 0-3.4-.9-4.4-1.9l1.4-2.1c.9.9 2.3 1.6 3.2 1.6.9 0 1.7-.5 1.7-1.3s-.9-1.2-1.5-1.4c-.6-.2-1.5-.5-1.9-.7-.3-.1-.9-.4-1.5-.9-.5-.5-1-1.2-1-2.4s.6-2.1 1.3-2.7c.7-.6 1.8-1 3.3-1 1.5 0 3.1.7 3.9 1.5l-1.2 2c-.7-.7-1.8-1.3-2.8-1.3-1 0-1.6.4-1.6 1.1 0 .8.7 1 1.3 1.3.5.2 1.5.5 1.9.7.3.1 1.2.5 1.7 1s1 1.3 1 2.4c.1 1.3-.5 2.4-1.4 3.1zM190.5 110.8h-2.9l-.5-8.5-2.7 8.5h-2.3l-2.7-8.5h-.1l-.5 8.5h-2.9l.9-12.4h3.7l2.6 8.2 2.6-8.2h3.7zM224.2 110.8h-2.9l-.5-8.5-2.7 8.5h-2.3l-2.7-8.5h-.1l-.4 8.5h-2.9l.9-12.4h3.7l2.6 8.2 2.6-8.2h3.7zM244.3 110.8h-3.2l-.9-2.5h-4.4l-.9 2.5h-3l4.7-12.4h3l4.7 12.4zm-4.7-4.8l-1.5-4.5-1.5 4.5h3zM262.4 110.8H259l-2.6-4.8h-.9v4.8h-2.9V98.4h4.5c1.4 0 2.5.3 3.3.9.8.6 1.4 1.6 1.4 2.8 0 2.4-1.5 3.3-2.4 3.6l3 5.1zm-4.3-9.9c-.4-.3-.8-.3-1.5-.3h-1.2v3.2h1.2c.7 0 1.1-.1 1.5-.3.4-.3.6-.6.6-1.3.1-.6-.2-1-.6-1.3zM281.1 110.8h-3.5l-3.1-5.2-1 1.1v4.1h-2.9V98.4h2.9v4.5l3.8-4.5h3.5l-4.4 5zM297.3 110.8h-8.2V98.4h8v2.3H292v2.5h4.9v2.3H292v2.9h5.3zM314.6 100.7h-3.2v10.1h-2.9v-10.1h-3.2v-2.3h9.3v2.3zM325.9 110.8H323V98.4h2.9zM346.6 110.8h-3l-5.5-8.4s.1 1.5.1 2.8v5.6h-2.8V98.4h3.1l5.3 8.4s-.1-1.4-.1-2.7v-5.6h2.8v12.3h.1zM367.4 108.9c-.6.6-2.1 2.1-5.5 2.1s-6.5-2.3-6.5-6.4c0-4.1 3-6.4 6.5-6.4 3.3 0 4.7 1.7 5.1 2.2l-1.9 1.7c-.5-.6-1.5-1.4-3.2-1.4-2 0-3.5 1.5-3.5 4s1.6 4 3.6 4 2.6-.8 2.6-.8v-1.8H362v-2.2h5.5v5h-.1z"></path><g><path d="M322.9 50c-.2-.6-.8-1.2-1.6-1.6-.8-.4-1.7-.6-2.6-.4-1.3.2-2.1.6-2.6 1.2-.5.7-1.1 1.4-1.7 2-.6.6-1.3 1.3-2.2 1.9-2.3 1.9-5.1 3.3-8.4 4.3-2.2.7-4.4 1.1-6.7 1.3-2.3.2-4.7.5-7 .8-1.2.2-2.5.4-3.7.7-1.2.2-2.4.6-3.6 1-2 .6-4 1.5-5.9 2.8-1.5 1-2.8 2.1-4 3.2-1.2 1.2-2.2 2.4-3 3.6-.5.7-.5 1.4 0 2.1.5.6 1.1 1 1.8 1.3.7.3 1.6.3 2.6.1 1-.2 1.8-.7 2.4-1.6.8-1.2 1.8-2.3 2.9-3.3 1.1-1 2.5-1.9 4.1-2.7 1-.5 2.2-.8 3.4-1 1.3-.2 2.4-.2 3.4-.1s1.8.4 2.4.9c.6.4.7 1 .6 1.9-.5 3.4-2 6.2-4.3 8.5-2.4 2.3-5.2 4-8.4 5.2-3.3 1.2-6.7 1.8-10.3 1.9-3.6.1-6.9-.5-9.8-1.5-2.9-1.1-5.3-2.7-7.1-4.9-1.8-2.2-2.5-4.9-2.2-8.2.3-2.4 1.3-4.7 3-6.9s3.9-4.1 6.7-5.6c2.7-1.6 5.9-2.8 9.3-3.6 3.4-.8 7-1 10.7-.6 1.3 1.1 2.5 1.9 3.8 2.4 1.3.5 2.6.8 3.7.9 1.2.1 2.2 0 3.1-.3.9-.3 1.6-.7 2.2-1.2.7-.7 1.2-1.9-.1-3.6-1-1.3-3.4-2.4-7.4-3.3-.2-.2-.3-.3-.4-.5-.2-.2-.3-.4-.5-.6-.2-.4-.2-.7-.1-1 .2-.4.7-.7 1.5-.9.6-.1 1.3-.3 2-.4.7-.1 1.3-.3 2-.4 3.2-.8 6.3-1.7 9.1-2.7 2.8-.9 5.5-2.3 7.9-4 1.5-1.1 2.7-2.1 3.5-3.1.9-1 1.5-2 1.8-2.9.9-2 1-3.8.3-5.5-.7-1.7-1.9-3.1-3.8-4.2-3.2-1.9-6.8-2.7-10.7-2.3-3.9.4-7.6 1.4-11 3.2-3.4 1.8-6.4 4-8.8 6.7-2.5 2.7-3.8 5.5-4 8.3 0 .5.2 1.3 1.3 1.8 1.6.7 3.5.7 5 0 .8-.4 1.3-1 1.4-1.9.1-1.6.9-3.3 2.4-5.1 1.5-1.8 3.3-3.4 5.5-4.8 2.2-1.3 4.5-2.3 7-2.8 2.4-.5 4.8-.2 7 .8 1.7.7 2.5 1.8 2.7 3.3.1 1.5-.9 3.1-3.2 4.7-2.6 1.8-6 3.5-10.1 4.8-4.1 1.3-8.5 2.2-12.9 2.6-4.5.4-8.9.3-13.1-.5-4.2-.7-7.9-2.3-10.9-4.6-2.8-2.3-4.3-4.9-4.3-7.9 0-.5-.2-1.2-1.1-1.6-.6-.3-1.4-.5-2.2-.5-1.1 0-2 .3-2.6.8-.6.6-.9 1.3-.7 2 .4 4.3 2.5 7.8 6.1 10.7 2.7 2.1 5.9 3.7 9.5 4.8 3.6 1 7.5 1.6 11.5 1.8.8 0 1.5.1 2.2.4.5.2.9.4 1.2.7-4.1.1-8.1.7-12 1.8-4.1 1.2-7.7 2.9-10.9 4.9-3.2 2.1-5.8 4.5-7.7 7.2-2 2.7-3.1 5.6-3.3 8.6-.3 4.7.9 8.6 3.6 11.6s6.1 5.2 10.2 6.7c3.7 1.3 7.8 2 12.3 2h1.3c5-.1 9.7-1 14.1-2.6s8.2-4 11.3-7c3.1-3.1 5-6.8 5.5-11.2.2-1.7.8-3 1.7-3.9 1-.9 2.8-2 5.3-3.1 1.5-.6 2.9-1.2 4.3-1.9s2.6-1.4 3.8-2.2c2.1-1.6 4-3.4 5.6-5.3l.6-.8c.3-.6.4-1.1.3-1.6z"></path><path d="M243.5 44.6c-4 0-7.2 1.4-7.2 3.2 0 1.8 3.2 3.2 7.2 3.2s7.2-1.4 7.2-3.2c0-1.8-3.2-3.2-7.2-3.2zM316.3 65.8c-4 0-7.2 1.4-7.2 3.2 0 1.8 3.2 3.2 7.2 3.2s7.2-1.4 7.2-3.2c0-1.8-3.2-3.2-7.2-3.2zM79.9 28.5c-1.4-.6-4-.6-4.8.8C68.8 43.1 55 68.8 43.8 78.4c-4.1 3.5-8.3 4.9-11.3 3.7-2.2-.9-3.7-3.1-4.2-6.5-.5-3.3.8-10.1 3.6-20.3.1-.5.2-.8.3-1 .1-1.1 4.8-3.1 11.1-4.7 3.3-.9 6.4-2.4 9.3-4.3 3.5-2.4 5.9-5.3 7.1-8.5.4-1.1-.1-2.1-1.3-2.6-1.5-.6-4.2-.3-5 1.5-1 2.4-2.9 4.6-5.4 6.4-7.7 5.3-26.1 5.2-34.7-.3C9 39.2 6.7 35.2 7 30.9c.3-4.2 3.3-8.1 7.8-10.1 5-2.1 15.8-4.4 22.6-4.9 2.1 0 2.6.5 2.8.7.2.3 0 .8-.3 1.1-5.3 8-8.9 14.5-12.5 26-.1.3-.2.9.9 1.4 1.6.6 5.9.5 6.7-1.2 1.7-4.7 6.1-16.5 11.3-25.3.7-1.2 2.7-3.8 3.8-4.6.7-.5 1.5-.9 2.3-1.3.5-.2 1-.5 1.5-.8 1.5-.9 1.3-1.8 1.2-2.2-.5-1.2-2.4-1.8-4.2-1.3-1 .2-2 .6-2.7.8l-.4.1c-5.4 2.1-13.3 3.3-21 4.6-4.5.7-9.1 1.4-13.1 2.3C5.6 18 .1 24.2 0 31.6-.1 37 3.1 42.1 8.7 45.5c2.8 1.8 4.7 3 10.1 3.9 4.8.8 5.4 2.9 5.5 5.1 0 .8-.4 2.4-.8 4.6-1.1 5.2-2.9 13.1-1.5 18.5 1.2 5 4.1 8.5 8.3 9.8 1.2.4 2.5.6 3.9.6 4.6 0 9.8-2.2 14.4-6.4 11.8-10.2 27.5-37.4 32.7-50.9.1-.9-.3-1.7-1.4-2.2z"></path><path d="M235.4 57.3c-.3-.4-.7-.7-1.2-.9-.5-.2-1.1-.2-1.7-.2-.6 0-1.1.3-1.4.6-.2.2-.4.5-.7.9l-2.6 2.8c-1.2 1.3-2.6 2.7-4.1 4-1.5 1.4-3 2.5-4.5 3.5-1.4.9-2.6 1.3-3.6 1.1-1.3-.3-1.4-.9-1.4-1.3.1-.5.3-1.1.6-1.8.4-.7.8-1.5 1.3-2.4.5-.9 1.1-1.8 1.8-2.7.7-.9 1.3-1.9 1.9-2.9.6-1 1.1-1.9 1.5-2.6.4-.8.7-1.5.7-2.1 0-.7-.2-1.3-.6-1.9-.4-.5-1.2-1-2.3-1.6-1-.5-2.3-1-4-1.6-1.7-.6-3.1-1-4.2-1.3-.7-.2-.9-.4-.9-.4 0-.3.1-.6.2-.7.2-.6.5-1.2.7-1.8.3-.7.4-1.2.4-1.8-.2-.8-1.1-1.5-2.5-1.8-1.4-.3-2.8-.1-4 .7-.6.4-1.2.9-1.7 1.6-.5.6-.9 1.4-1.2 2.1-.3.8-.5 1.5-.5 2.3 0 .8.2 1.5.7 2.1.3.3.5.5.5.6-.1.1-.2.3-.5.8-.9 1.5-1.9 3-3 4.5-.5.7-1 1.4-1.5 2l-.1.1c-.2.3-.5.6-.9.9l-.3.4c-1.6 1.9-3.2 3.8-5.9 4.8-1.2.4-2.6.6-3.9.6-.6 0-1-.2-1.3-.6-.3-.5-.3-1.1 0-1.8 2.6-4.8 3-9.7 1.1-13.1-1.6-2.9-4.7-4.6-9.1-5-8.1-.6-14.5 4.5-17.9 9.4-1.7 2.6-2.9 5.3-3.3 7.8-.8.9-1.7 1.9-2.6 2.9-2.6 2.6-5.6 5.4-8.9 5.5-1.5 0-2.1-.2-2.5-.9-.3-.4-.4-1-.3-1.9.4-3.7 2-7.2 3.5-10.7 1.2-2.7 2.6-5.8 3.8-8.7.4-.8.7-1.6 1.1-2.4.7-1.6 1.5-3.3 2.2-4.8.6-1.3 2.3-1.8 4.6-1.5 10.1 1.8 23.5 3.5 37.9.7 10.1-2.1 18.7-6.3 23.8-11.6 4.7-4.8 6.4-10.6 4.7-15.9-1.2-3.8-4.3-7-8.5-9C211 .6 206-.2 200.7 0c-4.4.2-8.7 1.3-11.9 3.2-5.3 2.9-8 7.7-7 12.2.4 2.2 1.8 4.2 3.9 5.7 2.2 1.6 5.3 2.6 8.5 2.8 1.7.2 3.3-.8 3.5-2 .1-.4-.1-.8-.4-1.1-.5-.6-1.6-1.1-2.7-1.1-2.7-.2-5.1-1.4-6.1-3.1-1.6-2.6-.9-5.8 1.8-8.4 2.2-2 5.7-3.4 9.6-3.8 4.3-.4 8.6.2 11.7 1.7 3 1.4 5.1 3.7 5.9 6.4 1.1 3.7 0 7.7-3 11.4-4.1 5-12.1 9-21.3 10.8-12.8 2.6-25.1 1-34.4-.7-1.1-.2-2-.7-2.4-1.4-.3-.5-.2-1.1.1-1.7l.6-1.3c.7-1.1.5-2 .2-2.4-.6-1-2.2-1.4-3.5-1.2-1.4.1-2.5.8-2.9 1.8-.1.3-.4 1.1-.8 2l-.1.4c-.2.4-1.7 2-4.2 1.4-8.3-1.8-16.8-4.2-25.1-6.6-7.8-2.2-15.8-4.4-23.7-6.3-7.8-1.8-17.4-4-25-2.1-7.2 1.7-15.5 8-15 13.3.1.9.7 1.6 1.8 1.8 1.5.3 3.6-.3 4.3-1.6 1.6-3.1 5.5-6.9 9.9-8.2 5.5-1.4 11.4-.1 18.4 1.4l2.1.5c7.9 1.7 16.9 3.9 25.5 6 8.4 2.1 17.1 4.2 24.9 5.9 1.1.2 2 .8 2.4 1.5.2.5.2 1-.1 1.5-1 2.1-2.3 4.9-3.3 7.5-1.2 2.5-2.2 4.9-3.2 7-.3.7-.6 1.4-.9 2l-.3.7c-.3.7-.6 1.3-.8 2-3.5 3.9-10.2 10.8-19.2 11.2-3.3.2-5.8-.6-7-2.3-1.5-2-1.2-5.5.8-9.2 2.2-4.2 7.1-9 12.9-9.4 1.2-.1 2.6.1 3.2 1 .6 1.1-.3 2.5-1.1 3.5-.6.8-.5 1.4-.3 1.8.3.7 1.1 1.1 2.3 1.1 1.1.1 2.6-.3 3.3-1.5 2-2.6 2.3-5.3.7-7.2-1.5-2-4.7-3.1-8.5-3-8.7 0-15.9 6.5-18.9 12.5-.2.3-.3.7-.5 1-3.4 3.8-10.2 11.3-19.6 11.7-3.3.2-5.8-.6-7-2.3-.7-.9-.9-1.6-1-2.6 0-.8 1.8-1.7 2.6-1.8 7.6-.9 17.3-3.4 20.5-10.1.9-1.8.9-3.5-.1-5-1.3-2.1-4.4-3.3-8.5-3.3h-.2c-8.7 0-15.9 6.5-18.9 12.5-2.6 5.1-2.5 9.9.3 12.9 2.4 2.4 6.5 3.8 11 3.8.5 0 1 0 1.6-.1 7.5-.4 13.4-4 18.1-8.2.3 1.7.9 3.2 2 4.3 2.4 2.4 6.5 3.8 11.1 3.8.5 0 1 0 1.6-.1 6.8-.4 12.3-3.3 16.7-7-.1 1.6.1 2.8.7 3.8 1.1 2.2 3.7 3.4 7.1 3.4.5 0 1 0 1.5-.1 4-.4 8-2.6 11.9-6.4.1.3.2.6.4.9 1.1 2.3 3.7 5.1 9.8 5.4h.9c4 0 8-1.5 11.6-4.3 1.6-1 2.6-1.4 4.5-1.2 2.5.3 5.4 0 8.4-1 3.4-1.1 5.6-3 7.5-5.2.2-.1.3-.2.5-.4 2.4-2.7 4.5-5.6 6.4-8.6.3-.5.8-.8 1.4-.9.6-.1 1.1-.1 1.5 0 .6.2 1.3.3 1.9.5.6.2 1.2.4 1.7.7.9.4 1.3.7 1.4.9.2.3.3.5.2.8 0 .3-.1.6-.3 1-.2.4-.4.7-.7 1.1-.6.9-1.2 1.9-1.9 2.9-.7 1.1-1.4 2.1-2 3.2-.6 1.1-1.2 2.1-1.6 3.1-.5 1-.7 2-.7 2.9.1 1.1.7 2.1 1.8 2.9 1.1.8 2.5 1.3 4.4 1.5.5.1.9.1 1.4.1 1.8 0 3.5-.4 5.3-1.2 2.1-1 4.2-2.3 6-3.8 1.8-1.5 3.5-3.1 4.9-4.8 1.4-1.7 2.6-3 3.5-4.1.1-.2.3-.3.4-.4l.1-.1c.2-.3.1-.8-.1-1.2zm-57.6 2.6c-.7-.1-1.3-.1-1.8 0-1.6.3-2.5 1.4-2.6 2.5 0 .7.4 1.5 1.1 2.4.4.5.6.8.1 1.2-2.2 1.8-4.7 2.7-7.2 2.7-2.1 0-3.6-.8-4.3-2.3-1.4-2.7-.4-7.5 2.5-11.8 2.9-4.4 6.9-6.9 10.7-6.9h.9c1.5.1 2.5.8 3.2 1.9 1.2 2.1.9 5.7-.7 9.3v.1c-.3.7-.5 1-1.9.9zM92.9 48.3c1.2 0 2.1.3 2.5.9.4.5.4 1.3 0 2.1-1.5 3.3-5.8 5.6-13.4 6.8-1.1.1-1.8-.1-2-.4-.2-.3-.1-.8.2-1.3 3.1-4.7 7.7-7.7 12.2-8.1h.5zM53.1 81.7l186.3-1.1s.6.9 1.6 1.8 2.3 1.5 2.3 1.5L53.1 81.7zM394.8 81.4l-90.7-.9-3.9 3.4z"></path><g><path d="M347.5 37.3c1.4 0 2.7-.5 3.6-1.4 1-.9 1.5-2.1 1.5-3.5s-.5-2.5-1.5-3.5c-1-.9-2.2-1.4-3.6-1.4s-2.6.5-3.6 1.4c-.9.9-1.4 2.1-1.4 3.5s.5 2.5 1.4 3.5c1 .9 2.2 1.4 3.6 1.4z"></path><path d="M438.7 64.6c-.2-.4-.7-.7-1.3-.9-.6-.2-1.2-.3-1.8-.3-.6 0-1.1.2-1.4.6-.8.9-1.6 1.9-2.6 3.1-.9 1.1-2 2.3-3.3 3.6-3.2 3.4-6.5 5.5-9.3 7-2.9 1.6-7.1 3.5-10.3 2.8-7-1.5-6.5-7-2.4-9.6 1.7-1.1 3.4-1.9 5.2-2.7 1.8-.7 3.5-1.5 5.1-2.3 1.6-.8 3.1-1.7 4.5-2.7 1.4-1 2.5-2.4 3.2-4 .9-1.8 1.1-3.6.6-5.5-.5-1.8-2-3.2-4.4-4.1-2.3-.9-4.7-1.3-7.3-1.1-2.6.2-4.9.7-7 1.6-.4.1-.7.2-1 .3-.2.1-.6.1-1 0-1-.1-1.5-.6-1.4-1.4 0-.8.2-1.4.4-1.8 1.3-3.1 2.5-6.1 3.8-9 1.2-2.9 2.5-5.9 3.7-8.9.8 0 1.6-.1 2.4-.1 7.6-.7 13.3-1.9 18.6-5.7 4.3-3 7.9-8.1 5.5-12.3-1.7-3-6.8-5.2-15.7-1.3-6.5 2.8-10.7 7.8-13.6 11.8-.2.3-1.2 1-1.8 1.3-1.2.5-5.5.9-7 .5-72.6-16.7-139.4-17.9-166.3-2.8-.9.5-1.3 1-1.4 1.6-.1.6.2 1.2.9 1.9 1.2 1.3 3.6 1.2 5.2.5 36.7-17 88.3-11.5 159.6 2.9.1 0 .2 0 .4.1 1.9.6 3.8 1 5.8 1.3l-14.9 34c-1.3 1.3-2.7 2.6-4.1 3.7-1.4 1.1-2.7 1.8-4 2.1-1.1.3-2 .3-2.6-.1-.5-.3-.6-1.1-.2-2.3.3-1.4.7-2.6 1.3-3.8.5-1.2 1.1-2.3 1.7-3.4.6-1.1 1.2-2.2 1.8-3.4.6-1.1 1.1-2.3 1.6-3.5.5-1.3.6-2.5.3-3.5s-.9-1.8-1.7-2.4c-.8-.6-1.8-1-2.8-1.3-1-.3-2.1-.4-3.1-.5-3.4-.1-6.5.5-9.2 1.8-.8.3-1.2.2-1.4.1-.4-.2-.5-.3-.5-.3-.3-.4-.7-.7-1.3-.9-1.2-.5-2.5-.5-3.8 0-.7.3-1.2.7-1.6 1.3l-6.3 14.3-1.5 1.5c-1 1-2.1 2-3.2 2.9-1.1.9-2.3 1.7-3.4 2.3-1.3.7-2.7 1.2-4 1.3-1.2.1-2.1-.3-2.7-1.2-.3-.6-.5-1.3-.4-2.3 0-1 .2-2 .5-3s.6-2.1 1-3.1.8-1.9 1-2.6c1-2.1 2.1-4.2 3.1-6.2 1.1-2 2.1-3.9 3.2-5.6.5-1.2.1-2-.4-2.4-.6-.5-1.3-.9-2.1-1-1.1-.3-2-.2-2.9.2-.8.4-1.4.9-1.8 1.6-.8 1.4-1.8 3.1-2.8 5.1-1 2-2.1 4.2-3.1 6.5-.5 1-.9 2.2-1.3 3.5-.4 1.3-.8 2.6-1 4-.3 1.4-.4 2.7-.3 4 0 1.3.4 2.5.9 3.5.7 1.1 1.7 2 2.9 2.6 1.2.6 2.6.9 4.1.9h.3c1.3 0 2.8-.2 4.2-.6 1.6-.4 3.1-1 4.6-1.8.3-.1.5-.3.8-.4-.1.7.1 1.3.7 1.7.6.4 1.3.6 2 .7.8.1 1.6.1 2.3-.2.8-.2 1.4-.8 1.6-1.5l4.3-9.8c.4-1 1.1-2.2 2.1-3.6s2.2-2.8 3.7-4.1c1.4-1.3 3-2.4 4.8-3.2 1.7-.8 3.5-1.2 5.4-1 .8.1 1.4.3 2 .7.3.2.6.6.3 1.4-.6 1.3-1.2 2.5-1.8 3.6-.6 1.1-1.2 2.3-1.8 3.4-.6 1.1-1.1 2.4-1.7 3.6-.5 1.3-1 2.7-1.3 4.2-.3 1.5-.1 2.7.4 3.7s1.3 1.7 2.4 2.2c1 .5 2.2.7 3.5.8h.6c1.1 0 2.3-.1 3.4-.4 1.4-.3 2.7-.9 3.9-1.6 0 .5.3.9.7 1.2.6.5 1.4.7 2.3.9.9.1 1.8 0 2.7-.2.9-.3 1.5-.8 1.8-1.6l3-7.1c.6-1.2 1.7-2.5 3.2-3.8 1.6-1.3 3.3-2.5 5.2-3.6 1.9-1.1 3.7-1.9 5.6-2.6 1.9-.6 3.4-.9 4.6-.8 2 .2 3.1.8 3.4 1.7.3.9.2 1.9-.3 2.9-.6 1.2-1.5 2.2-2.7 3.1-1.2.9-2.6 1.7-4 2.3-1.4.7-2.9 1.3-4.5 2-1.6.6-3 1.3-4.3 2.1-2 1.3-3.8 2.8-4.5 4.6-.7 1.7-.6 4.6.2 6.5.7 1.7 2.7 3.8 4.5 4.9 2.1 1.4 4.7 2.3 7.8 2.5 3.2.1 7.4-1.6 11.1-3.5 3.7-1.9 8.2-6 12.1-10.2 1.1-1.2 2.1-2.3 3-3.4.9-1.1 1.8-2.1 2.6-3.1.4-.5.4-1 .2-1.4zm-23.6-42.2c2.8-3.5 5.8-6 9-7.5 2.2-.9 3.9-1.3 5-1.3.9 0 1.5.2 1.7.6.5.8-.4 2.8-3.6 5.3-3.3 2.5-6 4.3-10.6 5-1 .2-1.7.1-2-.3-.2-.5 0-1.3.5-1.8z"></path></g></g></g></svg>
					</a>

				</div>

				{% block header %}
					{% include 'navigation/nav-main.twig' %}
				{% endblock %}
			</header>

			<section class="hero">

				{% block hero %}
					{% if post.royalslider and post.royalslider != 'none' %}
						{{ fn('get_new_royalslider', post.royalslider) }}
					{% endif %}
				{% endblock %}
			</section>

			<section role="main" class="content-wrapper">
				<div class="wrapper {{ sidebar_class }}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
			</section>

			{% block footer %}
				<footer id="footer">
					{% include 'footer.twig' %}
				</footer>
				
				{# LOAD FONTS #}
				<script>
					// Load fonts asynchronously.
					WebFontConfig = {
						google: {
							families: ['Open Sans:400,400i,700:latin']
						}
					};

					(function (d) {
						var wf = d.createElement('script'), s = d.scripts[0];
						wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
						wf.async = true;
						s.parentNode.insertBefore(wf, s);
					})(document);
				</script>
				
				{{ function('wp_footer') }}
			{% endblock %}
		</div>

		{# SCHEMA #}
		{% include 'partials/schema.twig' %}
	</body>
</html>