<section class="lower-footer ">
    <div class="grid-container">
        <div class="grid-x copyright">

            <div class="large-6 large-order-2 cell logout">
                {% if not fn('is_user_logged_in') %}
                    <small><a href="/?password-protected=logout">Sign Out</a></small>
                {% endif %}
            </div>

            <div class="large-6 large-order-1 cell adlit-link">
                <small><a href="https://www.vectorandink.com">Back to vectorandink.com</a></small>
            </div>
        </div>
    </div>

</section>
