{% extends "base.twig" %}

{% block content %}


    <section class="grid-container">

        <h1>{{ site.title }}</h1>
        {{ post.content }}

        <div class="box">
        <div class="grid-container">
            <div class="grid-x">
                <div class="small-6 cell">

                    <h3 class="text-primary">{{ post.title }}</h3>

                </div>

                <div class="small-6 cell text-right">
                    <a href="/newsletters"><h6>View All</h6></a>
                </div>
            </div>
        </div>


            {% for post in posts %}
                {% include 'partials/newsletter_teaser.twig' %}
            {% endfor %}

        </div>

    </section>

    {% include 'partials/pagination.twig' %}

{% endblock %}
