{% extends "base.twig" %}

{% block content %}

    <section class="grid-container">

        <h3 class="text-primary">{{ post.title }}</h3>
        {{ post.content }}

        {% if post.children %}

            <ul class="menu vertical">
                {% for child in page_children %}
                    <li>
                        <a class="text-upper bold" href="{{ child.link }}">{{ child.title }}</a>
                    </li>

                {% endfor %}
            </ul>

        {% endif %}

    </section>

{% endblock %}
