{% extends "base.twig" %}

{% block content %}
    <article>
        <section class="grid-container">
            <h1>{{ post.title }}</h1>
            <p>
                By<a href="{{ post.author.path }}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date }}
            </p>
            {{ post.content }}
        </section>
        <section class="grid-container">
            <h3 class="h2">Comments</h3>
            {{ comment_form }}
            <div>
                {% for cmt in post.get_comments() %}
                    {% include "comment.twig" with {comment:cmt} %}
                {% endfor %}
            </div>
        </section>
    </article>
{% endblock %}
